{% extends "base_infcam.html" %}
{% load static %}
{% load bootstrap %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><i class="fas fa-tools fa-fw"></i> {{title}}</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <a href="{% url 'dashboard_cliente' %}" class="btn btn-info"><i class="far fa-list-alt"></i> Dashboard</a>
    </div>
    <hr>
</div>

<div class="row">
    <div class="col-lg-12">
        <form action="{% url 'novo_reparo' %}" method="post" enctype="multipart/form-data">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fas fa-plus-circle fa-fw"></i> Novo Reparo
                </div>
                <div class="panel-body">
                    {% csrf_token %}
                    {% if erro %}
                        <div class="alert alert-danger" role="alert">
                            {{erro}}
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <label for="produto">Segmento</label>
                        <select class="form-control" id="produto" name="produto" required>
                            <option value="">Escolha uma Opção</option>
                            <option value="507">Informática</option>
                            <option value="508">Segurança Eletrônica</option>
                            <option value="509">Automação Comercial</option>
                        </select>
                        <small id="produtoHelp" class="form-text text-muted">
                            Escolha o segmento para o qual deseja receber atendimento.
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="descricao">Descrição</label>
                        <textarea class="form-control" id="descricao" name="descricao" rows="3" required></textarea>
                        <small id="descricaoHelp" class="form-text text-muted">
                            Descreva o problema ou solicitação para o qual deseja receber suporte.
                        </small>
                    </div>
                    <hr>
                    <input type="submit" class="btn btn-success" type="Salvar" />
                </div>
            </div>
        </form>
        <!-- /.panel -->
    </div>
</div>
{% endblock content %}
