{% extends "base_infcam.html" %}
{% load staticfiles %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Seja bem-vindo!</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <p>
            Para se cadastrar na Infcam, preencha os seus dados abaixo.
        </p>
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-user"></i> Dados Pessoais
            </div>
            <div class="panel-body">
                <form id="form_usuario" action="{% url 'criar_usuario' %}" method="post" >
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" id="nome" name="nome"
                               required placeholder="Informe seu Nome" />
                    </div>
                    <div class="form-group">
                        <label for="pessoa_fisica_juridica">Pessoa Física ou Jurídica?</label>
                        <select class="form-control" name="pessoa_fisica_juridica" id="pessoa_fisica_juridica">
                            <option value="False">Pessoa Física</option>
                            <option value="True">Pessoa Jurídica</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="cpf_cnpj">CPF/CNPJ</label>
                        <input type="text" class="form-control" id="cpf_cnpj" name="cpf_cnpj"
                               required placeholder="Informe seu CPF ou CNPJ" />
                    </div>
                    <div class="form-group">
                        <label for="celular">Celular</label>
                        <input type="text" class="form-control" id="celular" name="celular"
                               required placeholder="Informe seu Celular" />
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="email" class="form-control" id="email" name="email"
                               required placeholder="Informe seu E-mail" />
                    </div>
                    <button type="submit" id="botaoConfirmar" class="btn btn-success btn-block">Cadastrar</button>
                    <hr>
                </form>
            </div>
            <div id="retorno" style="margin: 0px 20px"></div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extrajs %}
    <script src="{% static 'core/js/django_ajax.js' %}"></script>
    <script src="{% static 'core/js/jquery_mask.js' %}"></script>
    <script>

        $('#form_usuario').on('submit', function(event){
            event.preventDefault();
            console.log("form submitted!")  // sanity check
            $.ajax({
                url : "{% url 'criar_usuario' %}", // the endpoint
                type : "POST",
                data : {
                    nome : $('#nome').val(),
                    pessoa_fisica_juridica : $('#pessoa_fisica_juridica').val(),
                    cpf_cnpj : $('#cpf_cnpj').val(),
                    celular : $('#celular').val(),
                    email : $('#email').val(),
                },

                // handle a successful response
                success : function(data) {
                    if (data.encontrado) {
                        $('#retorno').html(
                            '<div class="alert alert-success" role="alert">' + data.resposta + '</div>'
                        );

                        $('#email').prop('readonly', true);
                        $('#botaoConfirmar').hide();

                        setTimeout(function(){
                            window.location.replace("{% url 'dados_pessoais' %}")
                        }, 2000);
                    }else{
                        $('#retorno').html(
                            '<div class="alert alert-danger" role="alert">' + data.resposta + '</div>'
                        );
                        $('#email').val('');
                    }
                },

                // handle a non-successful response
                error : function(xhr,errmsg,err) {
                    $('#retorno').html(
                        '<div class="alert alert-danger" role="alert">Erro ao cadastrar!</div>'
                    );
                }
            });
        });

    </script>

{% endblock extrajs %}