{% extends "base_infcam.html" %}
{% load static %}


{% block content %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><i class="fas fa-tachometer-alt fa-fw"></i> Dashboard</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                Novo
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Novo/Aguardando Avaliação do Técnico
                    <span class="pull-right text-muted small"><em>5</em></span>
                </li>
                <li class="list-group-item">
                    Em Análise
                    <span class="pull-right text-muted small"><em>5</em></span>
                </li>
                <li class="list-group-item">
                    Orçamento Pronto
                    <span class="pull-right text-muted small"><em>5</em></span>
                </li>
                <li class="list-group-item">
                    Aguardando Aprovação
                    <span class="pull-right text-muted small"><em>5</em></span>
                </li>
                <li class="list-group-item">
                    Aprovado
                    <span class="pull-right text-muted small"><em>5</em></span>
                </li>
                <li class="list-group-item">
                    Avisado Aguardando Retorno
                    <span class="pull-right text-muted small"><em>5</em></span>
                </li>
            </ul>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">3 Candidato(s)</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                Em Andamento
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Em Reparo
                    <span class="pull-right text-muted small"><em>5</em></span>
                </li>
                <li class="list-group-item">
                    Em Teste
                    <span class="pull-right text-muted small"><em>5</em></span>
                </li>
                <li class="list-group-item">
                    Montar P/ Devolver
                    <span class="pull-right text-muted small"><em>5</em></span>
                </li>
                <li class="list-group-item">
                    Em Garantia
                    <span class="pull-right text-muted small"><em>5</em></span>
                </li>
                <li class="list-group-item">
                    Tentativa de Contato S/ Sucesso
                    <span class="pull-right text-muted small"><em>5</em></span>
                </li>
                <li class="list-group-item">
                    Para ser Faturado
                    <span class="pull-right text-muted small"><em>5</em></span>
                </li>
                <li class="list-group-item">
                    Exceção de Faturamento
                    <span class="pull-right text-muted small"><em>5</em></span>
                </li>
            </ul>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">3 Candidato(s)</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                Concluído
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Pronto/Aguardando Retirada
                    <span class="pull-right text-muted small"><em>5</em></span>
                </li>
                <li class="list-group-item">
                    Reparado/Entregue
                    <span class="pull-right text-muted small"><em>5</em></span>
                </li>
            </ul>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">3 Candidato(s)</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                Cancelado
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Cancelado/Não Aprovado
                    <span class="pull-right text-muted small"><em>5</em></span>
                </li>
                <li class="list-group-item">
                    Equipamento Descartado
                    <span class="pull-right text-muted small"><em>5</em></span>
                </li>
                <li class="list-group-item">
                    Devolvido/Sem Reparo
                    <span class="pull-right text-muted small"><em>5</em></span>
                </li>
                <li class="list-group-item">
                    Sem Reparo/Condenado
                    <span class="pull-right text-muted small"><em>5</em></span>
                </li>

            </ul>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">3 Candidato(s)</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>

<div id="sortableKanbanBoards" class="row">
    <div class="table-responsive">
      <table class="table">
        <tr>
            <td>
                <div class="panel panel-primary kanban-col">
                    <div class="panel-heading">
                        Novo/Aguardando Avaliação do Técnico
                    </div>
                    <div class="panel-body">
                        <div id="TODO2" class="kanban-centered">
                            <article class="kanban-entry grab" id="item2" draggable="false">
                                <div class="kanban-entry-inner">
                                    <div class="kanban-label">
                                        <h2><a href="#">Art Ramadani</a> <span>posted a status update</span></h2>
                                        <p>
                                            Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered
                                            prepare how cordial two promise. Greatly who affixed suppose but enquire compact
                                            prepare all put. Added forth chief trees but rooms think may.
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="panel panel-primary kanban-col">
                    <div class="panel-heading">
                        Em Análise
                    </div>
                    <div class="panel-body">
                        <div id="TODO" class="kanban-centered">
                            <article class="kanban-entry grab" id="item1" draggable="false">
                                <div class="kanban-entry-inner">
                                    <div class="kanban-label">
                                        <h2><a href="#">Art Ramadani</a> <span>posted a status update</span></h2>
                                        <p>
                                            Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered
                                            prepare how cordial two promise. Greatly who affixed suppose but enquire compact
                                            prepare all put. Added forth chief trees but rooms think may.
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="panel panel-primary kanban-col">
                    <div class="panel-heading">
                        Orçamento Pronto
                    </div>
                    <div class="panel-body">
                        <div id="TODO" class="kanban-centered">
                            <article class="kanban-entry grab" id="item1" draggable="false">
                                <div class="kanban-entry-inner">
                                    <div class="kanban-label">
                                        <h2><a href="#">Art Ramadani</a> <span>posted a status update</span></h2>
                                        <p>
                                            Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered
                                            prepare how cordial two promise. Greatly who affixed suppose but enquire compact
                                            prepare all put. Added forth chief trees but rooms think may.
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="panel panel-primary kanban-col">
                    <div class="panel-heading">
                        Aguardando Aprovação
                    </div>
                    <div class="panel-body">
                        <div id="TODO" class="kanban-centered">
                            <article class="kanban-entry grab" id="item1" draggable="false">
                                <div class="kanban-entry-inner">
                                    <div class="kanban-label">
                                        <h2><a href="#">Art Ramadani</a> <span>posted a status update</span></h2>
                                        <p>
                                            Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered
                                            prepare how cordial two promise. Greatly who affixed suppose but enquire compact
                                            prepare all put. Added forth chief trees but rooms think may.
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="panel panel-primary kanban-col">
                    <div class="panel-heading">
                        Aprovado
                    </div>
                    <div class="panel-body">
                        <div id="TODO" class="kanban-centered">
                            <article class="kanban-entry grab" id="item1" draggable="false">
                                <div class="kanban-entry-inner">
                                    <div class="kanban-label">
                                        <h2><a href="#">Art Ramadani</a> <span>posted a status update</span></h2>
                                        <p>
                                            Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered
                                            prepare how cordial two promise. Greatly who affixed suppose but enquire compact
                                            prepare all put. Added forth chief trees but rooms think may.
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="panel panel-primary kanban-col">
                    <div class="panel-heading">
                       Avisado Aguardando Retorno
                    </div>
                    <div class="panel-body">
                        <div id="TODO" class="kanban-centered">
                            <article class="kanban-entry grab" id="item1" draggable="false">
                                <div class="kanban-entry-inner">
                                    <div class="kanban-label">
                                        <h2><a href="#">Art Ramadani</a> <span>posted a status update</span></h2>
                                        <p>
                                            Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered
                                            prepare how cordial two promise. Greatly who affixed suppose but enquire compact
                                            prepare all put. Added forth chief trees but rooms think may.
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="panel panel-primary kanban-col">
                    <div class="panel-heading">
                        Em Reparo
                    </div>
                    <div class="panel-body">
                        <div id="TODO" class="kanban-centered">
                            <article class="kanban-entry grab" id="item1" draggable="false">
                                <div class="kanban-entry-inner">
                                    <div class="kanban-label">
                                        <h2><a href="#">Art Ramadani</a> <span>posted a status update</span></h2>
                                        <p>
                                            Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered
                                            prepare how cordial two promise. Greatly who affixed suppose but enquire compact
                                            prepare all put. Added forth chief trees but rooms think may.
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="panel panel-primary kanban-col">
                    <div class="panel-heading">
                        Em Teste
                    </div>
                    <div class="panel-body">
                        <div id="TODO" class="kanban-centered">
                            <article class="kanban-entry grab" id="item1" draggable="false">
                                <div class="kanban-entry-inner">
                                    <div class="kanban-label">
                                        <h2><a href="#">Art Ramadani</a> <span>posted a status update</span></h2>
                                        <p>
                                            Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered
                                            prepare how cordial two promise. Greatly who affixed suppose but enquire compact
                                            prepare all put. Added forth chief trees but rooms think may.
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="panel panel-primary kanban-col">
                    <div class="panel-heading">
                        Montar P/ Devolver
                    </div>
                    <div class="panel-body">
                        <div id="TODO" class="kanban-centered">
                            <article class="kanban-entry grab" id="item1" draggable="false">
                                <div class="kanban-entry-inner">
                                    <div class="kanban-label">
                                        <h2><a href="#">Art Ramadani</a> <span>posted a status update</span></h2>
                                        <p>
                                            Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered
                                            prepare how cordial two promise. Greatly who affixed suppose but enquire compact
                                            prepare all put. Added forth chief trees but rooms think may.
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="panel panel-primary kanban-col">
                    <div class="panel-heading">
                        Em Garantia
                    </div>
                    <div class="panel-body">
                        <div id="TODO" class="kanban-centered">
                            <article class="kanban-entry grab" id="item1" draggable="false">
                                <div class="kanban-entry-inner">
                                    <div class="kanban-label">
                                        <h2><a href="#">Art Ramadani</a> <span>posted a status update</span></h2>
                                        <p>
                                            Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered
                                            prepare how cordial two promise. Greatly who affixed suppose but enquire compact
                                            prepare all put. Added forth chief trees but rooms think may.
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
      </table>
    </div>

    <!-- Static Modal -->
    <div class="modal modal-static fade" id="processing-modal" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center">
                        <i class="fa fa-refresh fa-5x fa-spin"></i>
                        <h4>Processando...</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extrajs %}
<script type="text/javascript" src="{% static 'core/js/kanban.js' %}"></script>
{% endblock %}

{% block extrastyle %}
<link href="{% static 'core/css/kanban.css' %}" rel="stylesheet" type="text/css" media="all">
{% endblock extrastyle %}