{% extends "base_infcam.html" %}


{% block content %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Meu Cadastro</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-map-marker"></i> Dados Pessoais
            </div>
            <div class="panel-body">
                <p>
                    Nome: {{ pessoa.name }} <br>
                    {% if pessoa.is_company %}
                        CNPJ: {{ pessoa.vat }}<br>
                    {% else %}
                        CPF: {{ pessoa.vat }}<br>
                    {% endif %}
                    <hr>
                    Celular: {{ pessoa.mobile }}<br>
                    E-mail: {{ pessoa.email }}<br>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-list-alt"></i> Endereço
            </div>
            <div class="panel-body">
                <p>
                    Endereço: {{ pessoa.street }} <br>
                    CEP: {{ pessoa.zip }} <br>
                    Bairro: {{ pessoa.street2 }} <br>
                    Cidade: {{ pessoa.city }} <br>
                    Estado: {{ pessoa.state_id.1 }}
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}